<a href="https://colab.research.google.com/github/msy-bilecik/ist204_2025/blob/main/ist204_2025_H4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listeler

In [3]:
liste = ["öğe1", "öğe2", "öğe3"]
print(liste)

liste = ["Ahmet", "Mehmet", 23, 65, 3.2]
print(liste)

liste = ["Ali", "Veli", ["Ayşe", "Nazan", "Zeynep"], 34, 65, 33, 5.6]
print(liste)

['öğe1', 'öğe2', 'öğe3']
['Ahmet', 'Mehmet', 23, 65, 3.2]
['Ali', 'Veli', ['Ayşe', 'Nazan', 'Zeynep'], 34, 65, 33, 5.6]

In [4]:
for eleman in liste:
    print("{} adlı öğenin veri tipi: {}".format(eleman, type(eleman)))

Ali adlı öğenin veri tipi: <class 'str'>
Veli adlı öğenin veri tipi: <class 'str'>
['Ayşe', 'Nazan', 'Zeynep'] adlı öğenin veri tipi: <class 'list'>
34 adlı öğenin veri tipi: <class 'int'>
65 adlı öğenin veri tipi: <class 'int'>
33 adlı öğenin veri tipi: <class 'int'>
5.6 adlı öğenin veri tipi: <class 'float'>

1 ile 90 arasında rasgele 10 tane farklı sayı seçen program.

In [47]:
import random
elemanS=2
yListe=[]
for i in range(0,elemanS):
  r=random.randint(1, 40)
  print(r)
  yListe.append(r) # append listeye eleman ekleme
  for t in range(0,i):
    print(t)
    print(r," =>",yListe[t])
    if r == yListe[t]:
      print(f"aynı sayı var{i}")
      i=i-1
      print(f"aynı sayı var{i}")

      break

yListe.sort()
print(yListe)

16
24
0
24  => 16
[16, 24]

Liste elde etme yolları

In [49]:
lis=dir(str)

print(lis[0])

__add__

In [87]:
metin="Kara kara kartallar karlı iyi tarlalar ararlar. "

parcali=metin.split(" ")

print(parcali)

['Kara', 'kara', 'kartallar', 'karlı', 'iyi', 'tarlalar', 'ararlar.', '']

In [58]:
diller = ["İngilizce", "Fransızca", "Türkçe", "İtalyanca", "İspanyolca"]
len(diller)

5

In [64]:
sayılar = [[0, 10], [6, 60], [12, 54], [67, 99]]
for i in sayılar:
    print(i)
for i in sayılar:
    print(range(i[0], i[1]))

for i in sayılar:
    print(*range(*i))

[0, 10]
[6, 60]
[12, 54]
[67, 99]
range(0, 10)
range(6, 60)
range(12, 54)
range(67, 99)
0 1 2 3 4 5 6 7 8 9
6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59
12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53
67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98

In [67]:
alfabe = "abcçdefgğhıijklmnoöprsştuüvyz"
print(alfabe)
alfabeList=list(alfabe)
print(alfabeList)

abcçdefgğhıijklmnoöprsştuüvyz
['a', 'b', 'c', 'ç', 'd', 'e', 'f', 'g', 'ğ', 'h', 'ı', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'ö', 'p', 'r', 's', 'ş', 't', 'u', 'ü', 'v', 'y', 'z']

In [73]:
print(alfabeList[5])
print(parcali[3])

meyveler = ["elma", "armut", "çilek", "kiraz"]

for meyve in meyveler:
    print(meyve)


for öğe_sırası in range(len(meyveler)):
    print("{}. {}".format(öğe_sırası+1, meyveler[öğe_sırası]))

e
karlı
elma
armut
çilek
kiraz
1. elma
2. armut
3. çilek
4. kiraz

In [74]:
for sıra, öğe in enumerate(meyveler, 1):
    print("{}. {}".format(sıra, öğe))

1. elma
2. armut
3. çilek
4. kiraz

Liste öğrelerine erişim.

In [75]:
print(meyveler[-2])

çilek

In [76]:
print(meyveler[1:3])

['armut', 'çilek']

In [78]:
print(meyveler)
print(meyveler[::-1])

['elma', 'armut', 'çilek', 'kiraz']
['kiraz', 'çilek', 'armut', 'elma']

In [83]:
liste = ["Ali", "Veli", ["Ayşe", "Nazan", "Zeynep"], 34, 65, 33, 5.6]
print(liste[2])
print(liste[2][0])

liste2=liste[2]
print(liste2[0])
print(liste2[1])
print(liste2[2])

['Ayşe', 'Nazan', 'Zeynep']
Ayşe
Ayşe
Nazan
Zeynep

Liste Öğelerini Değiştirme

In [84]:
print(liste)
liste[0]=888
print(liste)

['Ali', 'Veli', ['Ayşe', 'Nazan', 'Zeynep'], 34, 65, 33, 5.6]
[888, 'Veli', ['Ayşe', 'Nazan', 'Zeynep'], 34, 65, 33, 5.6]

In [88]:
print(parcali)
parcali[-1]="deneme"
print(parcali)

['Kara', 'kara', 'kartallar', 'karlı', 'iyi', 'tarlalar', 'ararlar.', '']
['Kara', 'kara', 'kartallar', 'karlı', 'iyi', 'tarlalar', 'ararlar.', 'deneme']

In [94]:
diller = ["İngilizce", "Fransızca", "Türkçe", "İtalyanca", "İspanyolca"]
print(diller)
diller[-1]="deneme"
print(diller)

['İngilizce', 'Fransızca', 'Türkçe', 'İtalyanca', 'İspanyolca']
['İngilizce', 'Fransızca', 'Türkçe', 'İtalyanca', 'deneme']

In [96]:
metin="deneme123"
metin="aa"+metin
print(metin)
metin="b"+metin[3:]
print(metin)

aadeneme123
beneme123

In [99]:
sayilar=[89,99,12,5]
print(sayilar)
sayilar=sayilar+ [3]
print(sayilar)

[89, 99, 12, 5]
[89, 99, 12, 5, 3]

In [2]:
sayılar = 0
adet=3

for i in range(adet):
    sayılar += int(input("not: "))

print(sayılar/adet)

not: 35
not: 45
not: 55
45.0

In [4]:
sayılar = 0
adet=3
notlar = []

for i in range(adet):
    veri = int(input("{}. not: ".format(i+1)))
    sayılar += veri
    notlar += [veri]

print("Girdiğiniz notlar: ", notlar)
print("Not ortalamanız: ", sayılar/adet)

1. not: 50
2. not: 60
3. not: 75
Girdiğiniz notlar:  [50, 60, 75]
Not ortalamanız:  61.666666666666664

In [13]:
import random
elemanS=10
yListe=[]
i=0
while i<elemanS:

  r=random.randint(1, 40)
  print(r)

  if r not in yListe:
    yListe.append(r) # append listeye eleman ekleme
  else:
    i=i-1
    print(f"aynı sayı var{r} i={i}")
  i+=1
yListe.sort()
print(yListe)

1
33
4
39
32
39
aynı sayı var39 i=4
40
2
18
10
26
[1, 2, 4, 10, 18, 26, 32, 33, 39, 40]

listeden öge çıkarmak

In [17]:
diller = ["İngilizce", "Fransızca", "Türkçe", "İtalyanca", "İspanyolca"]
print(diller)
del diller[1]
print(diller)
del diller[1:3]
print(diller)

['İngilizce', 'Fransızca', 'Türkçe', 'İtalyanca', 'İspanyolca']
['İngilizce', 'Türkçe', 'İtalyanca', 'İspanyolca']
['İngilizce', 'İspanyolca']

In [23]:
liste = [i for i in range(0,1000,3)]
print(liste)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]

In [20]:
liste = []

for i in range(1000):
    liste += [i]
print(liste)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999]

In [25]:
liste = [i for i in range(1000) if (i % 5==0 and i%13 == 1)]
print(liste)

[40, 105, 170, 235, 300, 365, 430, 495, 560, 625, 690, 755, 820, 885, 950]

In [26]:
liste = [[1, 2, 3],
         [4, 5, 6],
         [7, 8, 9],
         [10, 11, 12]]

tümü = []

for i in liste:
    for z in i:
        tümü += [z]

print(tümü)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [27]:
liste = [[1, 2, 3],
         [4, 5, 6],
         [7, 8, 9],
         [10, 11, 12]]

tümü = [z for i in liste for z in i]
print(tümü)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

## liste fonksiyonları

* append()	Listenin sonuna bir eleman ekler.
* clear()	Removes all the elements from the list
* copy()	Returns a copy of the list
* count()	Returns the number of elements with the specified value
* extend()	Add the elements of a list (or any iterable), to the end of the current list
* index()	Returns the index of the first element with the specified value
* insert()	Adds an element at the specified position
* pop()	Removes the element at the specified position
* remove()	Removes the first item with the specified value
* reverse()	Reverses the order of the list
* sort()	Sorts the list

In [62]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

fruits = ["apple", "banana", "cherry"]
fruits.clear()
print(fruits)

fruits = ['apple', 'banana', 'cherry', 'orange']
x = fruits.copy()
print(id(x), id(fruits))
fruits.clear()
print(x)

fruits = [ "banana", "apple", "cherry",  "cherry","apple", "banana", "cherry"]
x = fruits.count("cherry")
print(x)

fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']
fruits.extend(cars)
print(fruits)

fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']
fruits=fruits+cars
print(fruits)

fruits = ['apple', 'banana', 'cherry','banana','cherry','cherry']
x = fruits.index("cherry")
print(x)

fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, "orange")
print(fruits)

fruits = ['apple', 'banana', 'cherry']
d=fruits.pop()
print(fruits)
print(d)

fruits = ['apple', 'banana', 'cherry']
fruits.remove("banana")
print(fruits)


fruits = ['apple', 'banana', 'cherry','apple', 'banana', 'cherry']
fruits.reverse()
print(fruits)

fruits = ['apple', 'banana', 'cherry','apple', 'banana', 'cherry']
fruits.sort()
print(fruits)

fruits = ['apple', 'banana', 'cherry','apple', 'banana', 'cherry']
fruits.sort(reverse = True)
print(fruits)

['apple', 'banana', 'cherry', 'orange']
[]
137374465981184 137373754398592
['apple', 'banana', 'cherry', 'orange']
3
['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']
['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']
2
['apple', 'orange', 'banana', 'cherry']
['apple', 'banana']
cherry
['apple', 'cherry']
['cherry', 'banana', 'apple', 'cherry', 'banana', 'apple']
['apple', 'apple', 'banana', 'banana', 'cherry', 'cherry']
['cherry', 'cherry', 'banana', 'banana', 'apple', 'apple']

## demetler

demet oluşturma

In [30]:
demet = ("ahmet", "mehmet", 23, 45)
print(demet)
print(type(demet))
liste3 = ["ahmet", "mehmet", 23, 45]
print(liste3)
print(type(liste3))

('ahmet', 'mehmet', 23, 45)
<class 'tuple'>
['ahmet', 'mehmet', 23, 45]
<class 'list'>

In [33]:
demet = "ahmet", "mehmet", 23, 45
print(demet)

('ahmet', 'mehmet', 23, 45)

In [39]:
demet2=tuple('abcdefg')
print(demet2)
liste3=list('abcdefg')
print(liste3)

print(demet2[3])
print(demet2[3:5])
demet2[4]="ö"

('a', 'b', 'c', 'd', 'e', 'f', 'g')
['a', 'b', 'c', 'd', 'e', 'f', 'g']
d
('d', 'e')

TypeError: 'tuple' object does not support item assignment

# Sorular

1. Klavyeden girilen 2 sayı arasında istenilen adet kadar rastgele elemandan oluşan bir liste oluşturunuz.

2. Liste içinde klavyeden girilen bir değerin kaç kere olduğunu bulan bir program yazınız. (count kullanmadan)

3.  1 ile 1000000 arasındaki sayılardan asal olanları bir liste olarak gösteriniz.

4.  1 ile 5000 arasında 47'ye tam bölünen çift sayıların ortalamasını bulan program.

5. Bir görüntü dosyası Python ortamında nasıl işleme alınır? Örnekle gösteriniz.